<section>

    <p class="mb-5">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed massa nibh. Maecenas venenatis cursus congue. Vivamus ac quam ipsum. Mauris laoreet pharetra massa, a pellentesque leo vestibulum a. Integer vel velit nisi. Maecenas varius blandit augue, quis cursus justo rhoncus eget. Aliquam euismod tellus arcu, a imperdiet metus placerat vitae. Praesent tempor lorem id metus gravida, nec faucibus dui rutrum. Duis lacinia eleifend cursus. Curabitur aliquet quam sed velit scelerisque, sed finibus quam dapibus. Etiam eleifend sodales felis, non luctus nisl lobortis eu. Duis orci justo, pellentesque quis lorem eget, aliquet finibus nisl. Quisque interdum quis massa quis gravida. Nunc fringilla tincidunt diam eu ullamcorper. Sed eu risus ornare, sodales massa nec, aliquet arcu. Donec quis turpis vel diam pretium commodo sit amet vitae lorem.
    </p>

    <div class="mb-5">
    <img src="/static/img/pc.jpg" width="480" height="240">
    <p>Maecenas egestas, arcu et luctus scelerisque, neque lectus blandit mauris, in tempus nibh dui id sapien. Phasellus leo odio, hendrerit eget dolor eu, lobortis ornare arcu. Sed lobortis bibendum nisi quis elementum. Nunc mollis lectus velit, at cursus risus luctus a. Duis eu sapien sit amet sem maximus volutpat. Nullam fermentum eros volutpat nulla maximus, quis facilisis arcu ullamcorper. Aliquam ante sapien, malesuada a magna non, viverra vulputate justo. Vivamus convallis, nulla eget euismod ultricies, libero metus venenatis tellus, sit amet vulputate nunc nunc nec dolor. Integer in metus odio. Praesent sit amet dignissim metus. Aliquam erat volutpat. Curabitur orci risus, porta eget ipsum accumsan, tristique gravida justo. Nunc vel arcu et odio fringilla pharetra in a diam.</p>
    </div>

    <div class="mb-5">
    <img src="/static/img/lh.jpeg" width="480" height="240">
    <p>Nulla vel nibh vestibulum, pulvinar elit sit amet, elementum tortor. Sed tincidunt lorem felis, et pulvinar enim suscipit non. Aenean et orci tempus, volutpat turpis ac, placerat lectus. Nullam sit amet quam at sem aliquet convallis. Donec id diam vel lectus consectetur tempor at sit amet metus. Maecenas faucibus ornare lectus sit amet accumsan. Suspendisse nec maximus magna. Proin quis magna ullamcorper, mattis magna et, vulputate nulla. Mauris bibendum feugiat laoreet. Nam vitae arcu eu odio congue dictum.</p>
    </div>

    <div class="mt-4">
        <a href="/about">Back</a>
    </div>

</section>